* {
    box-sizing: border-box;
}
body {
    max-width: 1200px;
    margin: auto;
    width: 90%;
}

#button {
    padding: 20px 100px;
    font-size: 30px;
    font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
    font-weight: bold;
    display: flex;
    margin: auto;
    margin-top: 250px;
    background-color: lightblue;
    border-radius: 5px;
}

#button:hover {
    background-color: lightcyan;
}

#button:active {
    padding: 19px 98px;
}
/*------------------------------------------------*/

.grid-calcu {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    justify-items: center;
    align-items: center;
    width: 500px;
    align-items: center;
    margin: auto;
    padding-top: 50px;
}

.grid-calcu button {
    padding: 50px;
    margin: 10px;
}
